{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if object %}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    {% else %}
                    <button type="submit" class="btn btn-success">Создать</button>
                    {% endif %}
                    <div class="btn-group">
                        <a class="btn btn-danger " href="{% url 'orders:list' %}" role="button">Отмена</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}